/*------------------------------------------------------------------
[ Print ]
*/
@media print {
    .application-content {
        margin-top: 0;
    }

    .btn, .toast-container, .no-print {
        display: none;
    }

    .well {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .panel {
        border: 0;
    }

    .panel-heading {
        font-weight: bold;
    }

    .list-group-item {
        border: 0;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    body {
        font-size: 12px;
    }

    .list-group-item-sm {
        padding-bottom: 5px;
        font-size: 85%;
    }

    //    select {
    //        overflow:hidden !important;
    //        width: 120% !important;
    //    }
    //    fieldset {
    //        border: solid;
    //        mask-border-width: 1px;
    //        border-bottom-color: #000000;
    //    }
}
